<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Language</title>
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/styles-index.css" rel="stylesheet">
</head>
<body>
  <script src="/js/login-page.js"></script>
  <header class="header"><a href="./index.html"><img class="header__img" src="img/Cipheak-White.png" alt="logo Cipheak"></a>
    <nav class="Stroke">
      <ul class="header__text-right">
        <li class="header__nav-li"><a href="/"><span class="header__link-underline">BE A CIPHEAKER</span></a></li>
        <li class="header__nav-li"><a href="./about"><span class="header__link-underline">ABOUT US</span></a></li>
        <li class="header__nav-li"><a href="whatis.html"><span class="header__link-underline">WHAT IS?</span></a></li>
      </ul>
    </nav>
    <div class="header__menu">
      <div class="header__menu--profile"><img src="img/icons8-circled-user-64.png" alt="">
        <p>Cipheaker</p>
        <ul>
          <li><a href="/">Login</a></li>
          <li><a href="/">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="background-language background">
    <section class="login__container-language">
      <img class="presentation__img--about" src="img/Cipheak-White.png" alt="logo Cipheak">
      <h2>Welcome, {{ name }} Now you can start learning your language</h2>
      <p>
        This language Is created by cipheak.com and {{ userName }}. It was created the {{ creationDate }}. The main characteristic of This language is that its grammar is regular. It means that if you make the choice to learn it, It won't take more than 2 months if you decide to dedicate 2 daily hours. During you learn This language you are going to find that it has roots from other languages. This language is a language that is going to help you to learn any other language easily. What is the key? This language is based on the grammar structure of the international language Esperanto. 
      </p>
      <p>
        If you are the owner of {{languageName }} you have the right to use the cipheak translator. If you don’t have the secret key of {{ languageName }} sorry, you have to learn it by this manual. Or simply you can create your own language with us going to cipheak.com
      </p>
      <p>
        So, let’s learn {{languageName }}! It will be a funny process. While learning don’t forget to smile with us.
      </p>
      <h1>SOME USEFUL PHRASES</h1>
      <p>Let's learn some common phrases that you can use in your daily activities to show to others your own language or whatever you want.</p>
      <ul>
        <li>
          {{rootSaluton }}{{endNoun }}{{endAccusative }}! → Hello! 
        </li>
        <li>
          {{rootBona }}{{endAdjective }}{{endAccusative }} {{rootMateno }}{{endNoun }}{{endAccusative }}! → Good morning! 
        </li>
        <li>
          {{rootBona }}{{endAdjective }}{{endAccusative }} {{rootTago }}{{endNoun }}{{endAccusative }}! → Good afternoon! 
        </li>
        <li>
          {{rootBona }}{{endAdjective }}{{endAccusative }} {{rootNokto }}{{endNoun }}{{endAccusative }} → Good night!
        </li>
        <li>
          {{pronounI }}{{endAdjective }} {{rootNomo }}{{endNoun }} {{rootEsti }}{{endPresent }} {{userName }} → My name is {{userName }}
        </li>
        <li>
          {{questionCorrelative }}{{endInfinitive }}{{modeCorrelative }} {{pronounYou }} {{rootFarto }}{{endPresent }} → How are you?
        </li>
        <li>
          {{pronounI }} {{rootFarto }}{{endPresent }} {{rootBona }}{{endAdverb }}, {{conjunctionKaj }} {{pronounYou }}? → I'm fine, and you?
        </li>
        <li>
          {{pronounI }} {{rootSxati}}{{endPresent }} {{rootSpekti}}{{endInfinitive }} {{articleLa }} {{rootStelo}}{{endNoun }}{{endPlural }}{{endAccusative }} {{prepositionEn }} {{articleLa }} {{rootCielo }}{{endNoun }} → I like to watch the stars in the sky.

      </li>
    </ul>
    </section>
  </section>
  <footer class="footer"><a href="/">Terms of use</a><a href="/">Privacy statement</a><a>® Cipheak, 2020</a></footer>
</body>
</html>